/node_modules
/src
tsconfig.json

## Tests
setup.ts
/tests
/coverage

## Prettier
.prettierignore
.prettierrc.json

## ESLint
.eslintrc.json

#Git hooks
.husky/

## GitHub
.github

## Vite
vite.config.ts
public
index.html
